<div class="container">
  <div class="form">
    <%= simple_form_for [@exposition, @artwork] do |aw| %>
      <div class="form-head">
        <h3>Nouvelle oeuvre</h3>
      </div>

      <div class="form-inputs">
        <%= aw.input :name, placeholder: "Harmonie défectueuse" %>
        <%= aw.input :description, placeholder: "Lorem ipsum dolor si amet..." %>
        <%= aw.file_field :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= aw.button :submit, class: "my-btn big-btn call-to-action-btn" %>
      </div>
      <div class="form-sub-links">
        <%= link_to "Back", :back, class: "my-btn regular-btn" %>
      </div>
    <% end %>
  </div>
</div>
