<div class="container">
  <div class="under-nav"></div>
  <div class="aw-photo-banner">
    <% if @artwork.photo.attached? %>
      <%= cl_image_tag @artwork.photo.key %>
    <% end %>
  </div>
  <div class="title-and-links">
    <div class="left"></div>
    <div class="center">
      <h2><%= @artwork.name %></h2>
    </div>
    <div class="right links">
      <% if policy(@artwork).update? %>
        <%= link_to t('buttons.edit'), edit_artwork_path(@artwork) %>
      <% end %>
    </div>
  </div>
  <div class="aw-show-description">
    <p><%= @artwork.description %></p>
  </div>
  <div id="awShowBackBtnWapper">
    <div id="awShowBackBtn">
      <%= link_to t('buttons.back'), :back %>
    </div>
  </div>
</div>
