<div class="home">
  <div class="home-content">
    <div class="under-nav"></div>
    <div class="title">
      <section id="video-banner">
        <div class="video-banner-background">
          <div class="video-banner-title">
            <h1>Collectif artistique</h1>
          </div>
        </div>
        <div class="video-banner-description container">
          <p><%= t('.project_description_html') %></p>
        </div>
      </section>
      <section id="press-banner">
        <h3><%= t('.press_banner_title') %></h3>
      </section>
      <section id="wip-banner">
        <h3><%= t('.wip_banner_title') %></h3>
      </section>
      <section id="event-banner">
        <h3><%= t('.event_banner_title') %></h3>
      </section>
      <section id="blog-banner">
        <h3><%= t('.blog_banner_title') %></h3>
      </section>
    </div>
  </div>
  <div class="side-bar">
    <ul>
      <li><a href="#video-banner" data-remote="true" class="active"><%= t('.video_banner_name') %></a></li>
      <li><a href="#press-banner" data-remote="true" class=""><%= t('.press_banner_name') %></a></li>
      <li><a href="#wip-banner" data-remote="true" class=""><%= t('.wip_banner_name') %></a></li>
      <li><a href="#event-banner" data-remote="true" class=""><%= t('.event_banner_name') %></a></li>
      <li><a href="#blog-banner" data-remote="true" class=""><%= t('.blog_banner_name') %></a></li>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'scroll_spy' %>
