<div class="home">
  <div class="home-grid top-grid">
    <div class="side-bar">
      <ul>
        <li><%= link_to "Présentation", "#", class: "side-bar-title active" %></li>
        <li><%= link_to "Presse", "#", class: "side-bar-title" %></li>
        <li><%= link_to "En cours", "#", class: "side-bar-title" %></li>
        <li><%= link_to "Événements", "#", class: "side-bar-title" %></li>
        <li><%= link_to "Blog", "#", class: "side-bar-title" %></li>
      </ul>
    </div>
    <div class="empty-div"></div>
  </div>
  <div class="home-grid bottom-grid">
    <div class="empty-div"></div>
    <div class="home-content">
      <div class="title">
        <h2>This home page</h2>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'sidebar_active' %>
