<div class="landing-page-carousel-item active">
  <div class="carousel-left-side">
    <div class="carousel-left-side-photo-title">
      <div class="carousel-left-side-photo">
        <%= cl_image_tag @expos.first.photos[0].key %>
      </div>
      <div class="carousel-left-side-title">
        <h1><%= @expos.first.name %></h1>
      </div>
    </div>
    <div class="carousel-left-side-description">
      <p><%= @expos.first.description %></p>
    </div>
  </div>
  <div class="carousel-right-side">
    <div class="carousel-right-side-photos">
      <div id="carousel-right-side-photo-1" class="carousel-right-side-photo">
        <%= cl_image_tag @expos.first.photos[1].key %>
      </div>
      <div id="w-h-line-1" class="w-h-line"></div>
      <div id="carousel-right-side-photo-2" class="carousel-right-side-photo">
        <%= cl_image_tag @expos.first.photos[2].key %>
      </div>
      <div id="w-h-line-2" class="w-h-line"></div>
    </div>
  </div>
</div>
